@font-face {
  font-family: boschsans-regular;
  src: url('@/assets/bosch-fonts/BoschSans-Regular.otf');
}

@font-face {
  font-family: boschsanscond-bold;
  src: url('@/assets/bosch-fonts/BoschSansCond-Bold.otf');
}

$menu-link-style-color: #000000;
$menu-link-style-color-hover: #006EAD;
$link-style-color: #006EAD;
$link-style-color-hover: #56B0FF;

@mixin link-style($color) {
  font-family: boschsans-regular, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: $color;
  text-decoration: none !important;
}

html {
  font-family: boschsans-regular, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

a {
  @include link-style($link-style-color)
}

a:hover {
  @include link-style($link-style-color-hover);
}

.title {
  color: #003253;
  font-family: boschsanscond-bold, sans-serif;
  font-size: 48px;
  font-weight: 700;
}

.text {
  font-family: boschsans-regular, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.footer {
  background-color: #EFF1F1;
}

.like-link {
  cursor: pointer;
  @include link-style($link-style-color)
}

.like-link:hover {
  @include link-style($link-style-color-hover);
}

.menu-link {
  cursor: pointer;
  @include link-style($menu-link-style-color);
  margin-inline-start: 20px;
  font-weight: 500 !important;
}

.menu-link:hover {
  @include link-style($menu-link-style-color-hover);
  margin-inline-start: 20px;
  font-weight: 500 !important;
}
