@font-face {
  font-family: boschsans-regular;
  src: url('@/assets/bosch-fonts/BoschSans-Regular.otf');
}

@font-face {
  font-family: boschsanscond-bold;
  src: url('@/assets/bosch-fonts/BoschSansCond-Bold.otf');
}

$menu-link-style-color: #000;
$menu-link-style-color-hover: #006ead;
$link-style-color: #006ead;
$link-style-color-hover: #56b0ff;

@mixin link-style($color) {
  font-family: boschsans-regular, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: $color;
  text-decoration: none !important;
}

html {
  font-family: boschsans-regular, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

a {
  @include link-style($link-style-color);
}

a:hover {
  @include link-style($link-style-color-hover);
}

.company-title {
  color: #003253;
  font-family: boschsanscond-bold, sans-serif;
  font-size: 48px;
  font-weight: 700;
}

.company-big-title {
  color: #003253;
  font-family: boschsanscond-bold, sans-serif;
  font-size: 2rem !important;
  line-height: 3rem !important;
}

.company-text {
  font-family: boschsans-regular, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.custom-v-card {
  height: 100%;
}

.motto {
  color: #fff;
  font-family: boschsanscond-bold, sans-serif;
  font-size: 14px;
  font-weight: 700;
  margin-left: 40px;
}

.company {
  color: #fff;
  font-family: boschsans-regular, sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.footer {
  background-color: #eff1f1;
}

.like-link {
  @include link-style($link-style-color);

  cursor: pointer;
}

.like-link:hover {
  @include link-style($link-style-color-hover);
}

.menu-link {
  @include link-style($menu-link-style-color);

  cursor: pointer;
  margin-inline-start: 20px;
  font-weight: 500 !important;
}

.menu-link:hover {
  @include link-style($menu-link-style-color-hover);

  margin-inline-start: 20px;
  font-weight: 500 !important;
}

.contact-link {
  @include link-style($link-style-color);

  cursor: pointer;
  margin-inline-start: 5px;
  font-size: 14px;
  font-weight: 400 !important;
}

.contact-link:hover {
  @include link-style($link-style-color-hover);

  margin-inline-start: 5px;
  font-size: 14px;
  font-weight: 400 !important;
}

.main-app-bar {
  z-index: 9999 !important;
  overflow: visible !important;
}

.logo {
  cursor: pointer;
}
