@font-face {
  font-family: boschsans-regular;
  src: url('@/assets/bosch-fonts/BoschSans-Regular.otf');
}

@font-face {
  font-family: boschsanscond-bold;
  src: url('@/assets/bosch-fonts/BoschSansCond-Bold.otf');
}

@mixin link-style($color) {
  font-family: boschsans-regular, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: $color;
  text-decoration: none !important;
}

html {
  font-family: boschsans-regular, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

a {
  @include link-style(#006EAD)
}

a:hover {
  @include link-style(#56B0FF);
}

.title {
  color: #003253;
  font-family: boschsanscond-bold, sans-serif;
  font-size: 48px;
  font-weight: 700;
}

.text {
  font-family: boschsans-regular, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.footer {
  background-color: #EFF1F1;
}

.like-link {
  @include link-style(#006EAD)
}

.like-link:hover {
  @include link-style(#56B0FF);
}
